* {
	box-sizing: border-box;
	
}
.wrapper {
	display: flex;
	flex-direction: row;
}
.li{
	text-align: center;
	background-color: rgb(162, 218, 140);
	color: green;
}
.favourite{
	background-color:green;
	color: rgb(162,218,140);	
}
.hidden{
	display:none;
}