* {
	box-sizing: border-box;
	margin: 0px;
	padding:0px;
	text-align: center;
}
.li{
	background-color: rgb(162, 218, 140);
	color: green;
	
}
.favourite{
	background-color:green;
	color: rgb(162,218,140);
	width: 30%;
}