<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Evaluación Final M2</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="wrapper">
    <div class="favourites">
      <h1 class="h1">Buscador de series</h1>
      <form action="" method="POST" class="form" id="form">
        <input type="text" class="input" id="input" name="serie">
        <button type="button" class="btn" id="btn">Buscar</button>
      </form>
      <p class="error hidden"> ¡¡No hemnos encontrado nada!! Inténtalo de nuevo</p>
      <h3 class="favorit-series"> Mis favoritas</h3>
      <div class="div"></div>
    </div>
    <button type="button" class="btn-log"> LOG</button>
    <ul class="list" id="list"></ul>

  </div>
  <script src="./assets/js/main.js"></script>
</body>